$white: #fff;
$semiWhite: #D1D5DA;
$semiBlack: #02121D;
$redBackground: #FF4954;
$blueBackground: #00CCFF;
$butSirBackground: #f3ba2f;
$semiGray: #4b5261;
$borderColor: #15242e;
$blueGreen:  #33FF99;
$green: #32CD32;
$bgDark: #000B12;