body {
  background-color: #f8f9fa;
  height: 100vh;
}

.page {
  // padding: 1.25rem;
  padding: 1.25rem 0 0 0;
  height: calc(100vh - 4.3125rem);

  .page-layout {
    display: flex;
    height: 100%;

    .side-menu-column {
      flex: 0 0 13.375rem;
      margin-top: -0.8125rem;
    }
    .hands-table-column {
      font-size: 14px;
      width: 100%;
      flex: 1 0;
    }
    .loading-container {
      width: 100%;
      flex: 1 0;
      display: flex;
      justify-content: center;
      align-items: center;

      .loading-text {
        font-weight: bold;
      }
    }
  }
}

.mobile-layout {
  .page {
    padding-top: 0.625rem;
    padding-bottom: 0;
    max-height: calc(100vh - 60px);
    height: calc(100vh - 7.3125rem);

    .page-layout {
      flex-direction: column;
      margin-bottom: 70px;

      .side-menu-column {
        flex: initial;
        margin-top: initial;

        .date-input-text {
          display: flex;
          align-items: center;
        }

        .date-picker-holder {
          margin: 5px 0;
          position: fixed;
          z-index: 1000;
          background-color: #fff;
          transform: scale(0.75);
          transform-origin: left top;
          max-height: 100%;
          overflow: auto;
        }

        #preset-filters .active header {
          cursor: pointer;
          font-size: 1rem;
          font-weight: 400;
          color: #212529;

          &:hover, &:focus {
            color: #16181b;
            text-decoration: none;
            background-color: #e9ecef;
          }

          &:active {
            color: #fff;
            text-decoration: none;
            background-color: #fd624f;
          }
        }

        .side-menu-button-active button {
          color: #fd624f;
        }

        .dropdown-item.active, .dropdown-item:active {
          color: #fff;
          text-decoration: none;
          background-color: #fd624f;
        }

      }
    }
  }

}

.filter-options {
  padding-left: 10px;
  padding-bottom: 10px;

  .filter-option {
    font-weight: 700;
    display: flex;
    font-size: 14px;
    line-height: 20px;
    color: #5F6368;

    .dropdown-menu {
      max-height: 90vh;
      overflow: auto;
    }
  }

  .filter-name {
    padding-right: 10px;
  }
}


.drop-down-custom {
  .btn {
    display: flex;
    align-items: center;
    font-weight: 700;
    box-shadow: none;
    padding: 0;
    font-size: 14px;
    line-height: 20px;
    color: #202124;
  }
}

.arrow-down {
  display: inline-block;
  width: 0;
  height: 0;
  border-left: 4px solid transparent;
  border-right: 4px solid transparent;

  border-top: 4px solid black;
  margin-top: 4px;
  margin-left: 3px;
}

.hands-table {
  font-size: 0.8125rem;
  .handsontable {
    margin: 0 auto;
  }
}


/* This needs to be global */
.mj-daterange-picker .preset-ranges .preset {
  font-size: 0.875rem;
}
.custom-control-input:checked ~ .custom-control-label::before {
  border-color: #fd624f;
  background-color: #fd624f;
  box-shadow: none;
}

.custom-control-input:focus ~ .custom-control-label::before {
  box-shadow: 0 0 0 0.2rem rgba(253, 98, 79, 0.25);
}

.custom-control-input:focus:not(:checked) ~ .custom-control-label::before {
  border-color: rgba(253, 98, 79, 0.25);
}

.handsontable td.htInvalid.notInvalid {
  background-color: rgb(240, 240, 240) !important;
}
/* ----------------- Until HERE ----------------- */

@import 'side-menu'
